/*
Original palette :
dark
#1B676B		A Dream In Color 
#519548		A Dream in Green
#88C425		A Dream In Lime
#BEF202		A Dream In Grellow
#EAFDE6		Dream Base
light
based on http://fr-fr.colourlovers.com/palette/871636/A_Dream_in_Color
by http://fr-fr.colourlovers.com/lover/madmod001
Thanks man !

our light gray :
#F6F6F6		Light Gray

declinaison of Dream Base: (luminosity)
#f4fcf2		Dream Base light
#EAFDE6		Dream Base
#d6e6d3		Dream Base gray
#c2ccc0		Dream Base gray 2

*/

body {
	background-color:#F6F6F6;
	font-family:"Droid Sans","Myriad Pro","Sans";
	font-size:14px;
	line-height:1.5em;
	color: #333333;
	margin: 0;
}

p {
	margin: 0.2em 0;
}

a {text-decoration: none; color:#1B676B;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: underline;}

#mainContainer {
	-moz-box-shadow: 0 0 10px #519548;
	-webkit-box-shadow: 0 0 10px #519548;
	box-shadow: 0 0 10px #519548;
	
	background: url("images/bg-glow.png") no-repeat scroll left top transparent;
	
	padding: 3em 0 0;
	background-color: #f4fcf2;
	border-left: 7px solid #BEF202;
	border-right: 7px solid #BEF202;
}

.content {
	-moz-border-radius-topright: 7px;
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;

	-moz-border-radius-bottomleft: 7px;
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;

	border: 1px solid #BEF202;
	
	padding: 0.5em 1em;
	background-color:	white;
	margin-bottom: 2em;
}

#baseline {
	font-family: 'Josefin Sans Std Light', arial, serif;
	font-size:16px;
	float:right;
	color:#519548;
	margin: 0;
}

#stayintouch {
	font-family: 'Josefin Sans Std Light', arial, serif;
	font-size:16px;
}

#header {
	margin-bottom: 4em;
}

#contentContainer {
	margin-bottom: 2em;
}

#footer {
	padding: 2em 0 1em;
	background-color: #d6e6d3;
	color: #c2ccc0;
	
	text-shadow: 0 1px 0 #FFFFFF;	
}
#footer ul {
	margin:0;
	padding:0;

}
#footer li {
	padding: 0 1em 0 1.3em; 
	list-style: none outside none;
	float: left;
}

.beansight {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:2em;
}

#footer #link-twitter {
	background: url("images/icons/twitter_16.png") no-repeat left top transparent;
}
#footer #link-facebook {
	background: url("images/icons/facebook_16.png") no-repeat left top transparent;
}
#footer #link-blog {
	background: url("images/icons/rss_16.png") no-repeat left top transparent;
}

/*  Experimental Title using CSS */
h1.title {
	font-family: 'Yanone Kaffeesatz', arial, serif;
	font-size:5em;
}
#bean {
	color: #88c425;
}
#sight {
	color: #BEF202;
}
