/*
#mainPan{width:1000px; position:relative; margin:0 auto;}
#headerPan{
	width:800px;
 	height:223px;
	}

#body_middle{
	width:500px;
	float:left;
	}

#body1{
	width:1000px;
	}
#body_leftbg{
	width:189px;
	float:left;
	height:480px;
	}


#right_bg{
	font-size:15px;
	width:200px;
	float:right;
	text-shadow:0 0 15px #97d99c;
	margin-top: 60px;
	}
#right_bg ul{
	display:block;
	font-size:0px;
	margin:10px 0 0 17px;
	}
#right_bg ul li{
	display:block;
	height:24px;
	font:14px/24px Arial, Helvetica, sans-serif;
	color:#6D6D6D; background-color:#FFFFFF;
	text-decoration:underline;
	}
*/