<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>previsionService</servlet-name>
    <servlet-class>fr.steren.beansight.waitingpage.server.PrevisionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>previsionService</servlet-name>
    <url-pattern>/beansight_waitingpage/previsions</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Beansight_WaitingPage.html</welcome-file>
  </welcome-file-list>

</web-app>